<a href="https://colab.research.google.com/github/tireless-22/machine-learning-and-data-science/blob/main/M_D_Supervised_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn import datasets

In [16]:
boston=datasets.load_boston()
x=boston.data
print(type(x))
print(x.shape)

<class 'numpy.ndarray'>
(506, 13)

In [17]:
y=boston.target
print(type(y))
print(y.shape)

<class 'numpy.ndarray'>
(506,)

In [25]:
import pandas as pd
df=pd.DataFrame(x)
# use to store as frames
df_columns=boston.feature_names
# use to get the first row or column names
# print(df_columns)
df.describe()
# it gives description of the data
# sklearn datasets are well cleaned already

               0           1           2   ...          10          11          12
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...   18.455534  356.674032   12.653063
std      8.601545   23.322453    6.860353  ...    2.164946   91.294864    7.141062
min      0.006320    0.000000    0.460000  ...   12.600000    0.320000    1.730000
25%      0.082045    0.000000    5.190000  ...   17.400000  375.377500    6.950000
50%      0.256510    0.000000    9.690000  ...   19.050000  391.440000   11.360000
75%      3.677083   12.500000   18.100000  ...   20.200000  396.225000   16.955000
max     88.976200  100.000000   27.740000  ...   22.000000  396.900000   37.970000

[8 rows x 13 columns]

what we do for the training is we willl take some data set or data frame

we will keep data points with us(20%) and train the remaining data(80%)

the data which we are keeping is for testing the algorithm after the training the machine learning algorithm

the kept should be taken without any bias like keeping first 20% or last 20 %

we have keep some random 20 % data

In [ ]:
form sklearn model_selection

model_selection.train_test_split(x,y)